body {
  font-family: "Oswald", sans-serif;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}
body .main-content {
  background: linear-gradient(to top right, #e9eaeb, #671d62);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 35px;
  padding: 20px;
  height: 80%;
  width: 90%;
  display: grid;
  grid-template-areas: "left-section right-section";
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  overflow-y: auto;
}
@media screen and (max-width: 768px) {
  body .main-content {
    grid-template-areas: "left-section" "right-section";
    grid-template-columns: 1fr;
    height: 95%;
    width: 100%;
    gap: 10px;
  }
}
@media screen and (max-width: 480px) {
  body .main-content {
    grid-template-areas: "left-section" "right-section";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    height: 95%;
    width: 100%;
    padding: 10px;
    gap: 10px;
  }
}
body .main-content .left-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  grid-area: left-section;
  height: 100%;
}
body .main-content .left-section .summary {
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
  border-radius: 50px;
}
body .main-content .left-section .summary .income, body .main-content .left-section .summary .balance, body .main-content .left-section .summary .expenses {
  font-size: 1.5em;
  margin: 10px 0;
}
body .main-content .left-section .summary .balance {
  font-size: 2em;
  color: rgb(247, 247, 247);
  font-weight: bold;
}
body .main-content .left-section .summary .income {
  color: rgb(236, 67, 219);
}
body .main-content .left-section .summary .expenses {
  color: rgb(132, 37, 145);
}
body .main-content .left-section .chart {
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  border-radius: 50px;
  padding: 10px;
}
body .main-content .left-section .chart canvas {
  width: 100%;
  max-width: 100%;
  height: auto;
}
body .main-content .right-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  grid-area: right-section;
  height: 100%;
}
@media screen and (max-width: 768px) {
  body .main-content .right-section .input-section, body .main-content .right-section .table-section {
    height: auto;
  }
}
body .main-content .right-section .input-section {
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 0 1 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
body .main-content .right-section .input-section .left-column, body .main-content .right-section .input-section .right-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body .main-content .right-section .input-section .left-column select, body .main-content .right-section .input-section .left-column input, body .main-content .right-section .input-section .left-column button, body .main-content .right-section .input-section .right-column select, body .main-content .right-section .input-section .right-column input, body .main-content .right-section .input-section .right-column button {
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 0.875rem;
}
body .main-content .right-section .input-section .left-column #submit-transaction, body .main-content .right-section .input-section .right-column #submit-transaction {
  background-color: rgb(132, 37, 145);
  cursor: pointer;
}
body .main-content .right-section .input-section .left-column #submit-transaction:hover, body .main-content .right-section .input-section .right-column #submit-transaction:hover {
  background-color: #5f1b68;
}
body .main-content .right-section .input-section .left-column #clear-table, body .main-content .right-section .input-section .right-column #clear-table {
  background-color: rgb(236, 67, 219);
  cursor: pointer;
}
body .main-content .right-section .input-section .left-column #clear-table:hover, body .main-content .right-section .input-section .right-column #clear-table:hover {
  background-color: #e517d0;
}
body .main-content .right-section .input-section .left-column .error-message, body .main-content .right-section .input-section .right-column .error-message {
  color: #f00;
  font-size: 0.975rem;
  visibility: hidden;
}
@media screen and (max-width: 480px) {
  body .main-content .right-section .input-section {
    grid-template-columns: 1fr;
    height: auto;
  }
  body .main-content .right-section .input-section .left-column, body .main-content .right-section .input-section .right-column {
    padding: 0;
  }
}
body .main-content .right-section .table-section {
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 1 1 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 480px) {
  body .main-content .right-section .table-section {
    max-height: 200px;
    padding: 10px;
  }
}
body .main-content .right-section .table-section .table-container {
  max-height: 250px;
  overflow-y: auto;
  border: none;
}
@media screen and (max-width: 480px) {
  body .main-content .right-section .table-section .table-container {
    max-height: 150px;
  }
}
body .main-content .right-section .table-section .table-container table {
  width: 100%;
  border-collapse: collapse;
}
body .main-content .right-section .table-section .table-container table th, body .main-content .right-section .table-section .table-container table td {
  padding: 10px;
  border: none;
  background: transparent;
  text-align: center;
}
body .main-content .right-section .table-section .table-container table th {
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid rgba(211, 211, 211, 0.3);
}
body .main-content .right-section .table-section .table-container table tr {
  border-bottom: 1px solid rgba(211, 211, 211, 0.3);
}
body .main-content .right-section .table-section .table-container table td {
  text-align: center;
}
body .main-content .right-section .table-section .table-container table .delete-icon {
  cursor: pointer;
  color: #f00;
}
body .main-content .right-section .table-section .table-container table .income-row td {
  color: rgb(236, 67, 219);
}
body .main-content .right-section .table-section .table-container table .expense-row td {
  color: rgb(132, 37, 145);
}
body .main-content .right-section .table-section .table-container table .hidden-row {
  visibility: hidden;
}/*# sourceMappingURL=style.css.map */