$background-black: #000;
$background-red: #f00;
$background-blue: #00f;
$border-radius: 50px;
$padding: 20px;
$table-border: none;
$table-header-bg: purple;
$table-row-bg: #666;
$table-row-alt-bg: #555;
$button-bg: rgb(132, 37, 145);
$button-bg-hover: darken($button-bg, 10%);
$max-width: 2560px;
$error-color: #f00;
$font-family: 'Oswald', sans-serif;
$table-line-color: rgba(211, 211, 211, 0.3); // Light grey color for table lines

$income-color: rgb(66, 245, 87); // Green
$expense-color: rgb(247, 67, 67); // Red
$balance-color: rgb(247, 241, 67); // Yellow

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: $font-family;
  background-color: $background-black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;

  .main-content {
    background: linear-gradient(to top right, #a0a4b9, #eba243);
    backdrop-filter: blur(10px);
    border-radius: $border-radius - 15;
    padding: $padding;
    height: 80%;
    width: 90%;
    display: grid;
    grid-template-areas: 
      "left-section right-section";
    grid-template-columns: 1fr 2fr;
    gap: $padding;
    overflow-y: auto;

    @media screen and (max-width: 768px) {
      grid-template-areas: 
        "left-section"
        "right-section";
      grid-template-columns: 1fr;
      height: 95%;
      width: 100%;
      gap: 10px;
    }

    @media screen and (max-width: 480px) {
      grid-template-areas: 
        "left-section"
        "right-section";
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
      height: 95%;
      width: 100%;
      padding: 10px;
      gap: 10px;
    }

    .left-section {
      display: flex;
      flex-direction: column;
      gap: $padding;
      grid-area: left-section;
      height: 100%;

      .summary {
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(10px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50%;
        border-radius: $border-radius;

        .income, .balance, .expenses {
          font-size: 1.5em;
          margin: 10px 0;
          color: $background-black;
        }

        .balance {
          font-size: 2em;
          color: $balance-color;
          font-weight: bold;
        }

        .income {
          color: $income-color;
        }

        .expenses {
          color: $expense-color;
        }
      }

      .chart {
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(10px);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50%;
        border-radius: $border-radius;
        padding: 10px;

        canvas {
          width: 100%;
          max-width: 100%;
          height: auto;
        }
      }
    }

    .right-section {
      display: flex;
      flex-direction: column;
      gap: $padding;
      grid-area: right-section;
      height: 100%;

      @media screen and (max-width: 768px) {
        .input-section, .table-section {
          height: auto;
        }
      }

      .input-section {
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(10px);
        padding: $padding;
        border-radius: $border-radius;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        flex: 0 1 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: $padding;

        .left-column, .right-column {
          display: flex;
          flex-direction: column;
          gap: 10px;

          select, input, button {
            padding: 5px;
            border-radius: 5px;
            border: 1px solid #ccc;
            font-size: 0.875rem;
          }

          #submit-transaction {
            background-color: $button-bg;
            color: $background-black;
            cursor: pointer;

            &:hover {
              background-color: $button-bg-hover;
            }
          }

          #clear-table {
            background-color: $income-color;
            color: $background-black;
            cursor: pointer;

            &:hover {
              background-color: darken($income-color, 10%);
            }
          }

          .error-message {
            color: $error-color;
            font-size: 0.875rem;
            visibility: hidden;
          }
        }

        @media screen and (max-width: 480px) {
          grid-template-columns: 1fr;
          height: auto;

          .left-column, .right-column {
            padding: 0;
          }
        }
      }

      .table-section {
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(10px);
        padding: $padding;
        border-radius: $border-radius - 10 ;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        flex: 1 1 auto;
        overflow: hidden;
        display: flex;
        flex-direction: column;

        @media screen and (max-width: 480px) {
          max-height: 200px;
          padding: 10px;
        }

        .table-container {
          max-height: 250px;
          overflow-y: auto;
          border: none;

          @media screen and (max-width: 480px) {
            max-height: 150px;
          }

          table {
            width: 100%;
            border-collapse: collapse;

            th, td {
              padding: 10px;
              border: none;
              background: transparent;
              color: $background-black;
              text-align: center;
            }

            th {
              color: $background-black;
              position: sticky;
              top: 0;
              z-index: 1;
              background-color: $background-white;
              border-bottom: 1px solid $table-line-color;
            }

            tr {
              border-bottom: 1px solid $table-line-color;
            }

            td {
              text-align: center;
            }

            .delete-icon {
              cursor: pointer;
              color: $error-color;
            }

            .income-row td {
              color: $income-color;
            }

            .expense-row td {
              color: $expense-color;
            }

            .hidden-row {
              visibility: hidden;
            }
          }
        }
      }
    }
  }
}
